<div class="flex flex-col w-[100%] gap-0">
  <header class="w-[75%] flex justify-between bg-red m-auto py-5">
    <search-bar
      (setSearch)="setSearch($event)"
      [searchInput]="searchInput"
    ></search-bar>
    <div class="flex justify-end gap-10">
      <stock-modal
        *ngIf="selectedProducts.length"
        [selectedProducts]="selectedProducts"
        (resetProducts)="resetProducts()"
        >Edit stock</stock-modal
      >
      <a
        class="bg-emerald-600 p-2 rounded-md transition-all duration-100 hover:bg-emerald-500"
        routerLink="/products/management/create"
        >Add product</a
      >
    </div>
  </header>
  <products-list
    [selectedProducts]="selectedProducts"
    [searchInput]="searchInput"
    (selectionChange)="selectProduct($event)"
    (onSelectAll)="onSelectAll($event)"
  ></products-list>
</div>
