@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
    color-scheme: light dark;
}

.mat-paginator-custom {
    .mat-mdc-icon-button:not([disabled="true"]) {
        * {
            fill: white;
        }
    }

    .mat-mdc-icon-button[disabled="true"] {
        * {
            fill: rgba(255, 255, 255, 0.514);
        }
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
